<div class="view" id="about-view">
    <x-card>
        <main>
        <div class="inner">
            <svg id="svg1" width="960" height="500"></svg>
            <script src="<%= htmlWebpackPlugin.files.js %>"></script>
          </div>
        </main>

        <x-contextmenu>
            <x-menu>
              <x-menuitem>
                <x-label>Undo</x-label>
              </x-menuitem>

              <x-menuitem>
                <x-label>Redo</x-label>
              </x-menuitem>

              <hr>

              <x-menuitem>
                <x-label>Cut</x-label>
              </x-menuitem>

              <x-menuitem>
                <x-label>Copy</x-label>
              </x-menuitem>

              <x-menuitem>
                <x-label>Paste</x-label>
              </x-menuitem>

              <hr>

              <x-menuitem>
                <x-label>Refresh</x-label>
              </x-menuitem>
            </x-menu>
        </x-contextmenu>
    </x-card>
</div>